ANTHROPIC_API_KEY=your_anthropic_api_key_here
PBI_DEV_WORKSPACE_ID=2696b15d-427e-437b-ba5a-ca8d4fb188dd
PBI_PROD_WORKSPACE_ID=c05c8a73-79ee-4b7f-b798-831b5c260f1b
PBI_PROD_DATASET_ID=10ad1784-d53f-4877-b9f0-f77641efbff4
REPO_DIR=H:\GitRepos\Airgas\Power BI Workflow\ProductionCDM-main
